body {
  margin: 0;
  overflow-x: hidden;
}
/* container_01 */
.container_01 {
  position: relative;
  overflow: hidden;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: unset;
  height: 100vh;
  width: 100vw;
}
.background_container01 {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  background-image: url("../images/background_header.png");
  background-size: cover;
  animation: fade-in cubic-bezier(0, 0, 0.2, 1) 5s infinite;
}
@keyframes fade-in {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}
.space_image_logo {
  margin-bottom: 50px;
  height: 15vh;
  border-radius: 10px;
  overflow: hidden;
}
.image_logo_fsoft {
  width: 100%;
  height: 100%;
}
.space_title {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid #f6c059;
  border-radius: 10px;
  width: 60%;
  height: 25vh;
}
.title {
  width: 100%;
  height: auto;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 110px;
  text-align: center;
  text-transform: uppercase;
  color: #f6c059;
  position: relative;
  background: #f6c059;
  -webkit-background-clip: text;
  -webkit-text-stroke: 5px transparent;
}
.sub_title {
  font-style: normal;
  font-weight: 900;
  font-size: 55px;
  line-height: 80px;
  /* identical to box height */
  color: #ffffff;
}
.space_image_sub_text {
  margin-top: 20px;
  margin-bottom: 30px;
  height: 10vh;
  border-radius: 10px;
  overflow: hidden;
}
.image_sub_text {
  width: 100%;
  height: 100%;
}
.space_organization_header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 30%;
  border: 1px solid #ffffff;
  border-radius: 10px;
}
.text_organization_header {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 77px;
  color: #f6c059;
}
/* Container 02 */
.container_02 {
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-color: #eaa25f;
  padding-left: 20px;
  padding-right: 20px;
}
.title_container_02 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}
.decription_container_02 {
  width: 85%;
  margin-top: 20px;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}
/* container_03 */
.container_image {
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.image_container {
  width: 100%;
  height: auto;
}
/* //Footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: #0b168d;
  color: #fff;
}

/* // Table */
h1 {
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table {
  width: 100%;
  table-layout: fixed;
}
.tbl-header {
  background-color: #eaa25f;
}
.tbl-content {
  height: 300px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
th {
  padding: 20px 15px;
  text-align: left;
  font-weight: bolder;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}
td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body {
  background: -webkit-linear-gradient(left, #2d9cdb, #12457c);
  background: linear-gradient(to right, #2d9cdb, #12457c);
  font-family: "Roboto", sans-serif;
}
section {
  margin: 50px;
}

/* follow me template */
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #f50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* //Pc low */

@media (min-width: 1024px) and (max-width: 1239px) {
  .space_image_logo {
    margin-bottom: 40px;
    width: 50%;
    height: auto;
  }
  .space_title {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #f6c059;
    border-radius: 10px;
    width: 90%;
    height: 20vh;
  }
  .title {
    font-size: 120px;
    -webkit-text-stroke: 3px transparent;
  }
  .sub_title {
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 80px;
    /* identical to box height */
    color: #ffffff;
  }
  .space_image_sub_text {
    margin-top: 30px;
    margin-bottom: 40px;
    height: 4vh;
  }
  .image_sub_text {
    width: 100%;
    height: 100%;
  }
  .space_organization_header {
    height: 8vh;
    width: 70%;
  }
  .text_organization_header {
    font-weight: 900;
    font-size: 40px;
  }
  /* Containe_02 */
  .title_container_02 {
    font-size: 50px;
    line-height: 30px;
  }
  .decription_container_02 {
    margin-top: 40px;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
  }
}

/* // Medium */

@media (min-width: 740px) and (max-width: 1023px) {
  .space_image_logo {
    margin-bottom: 20px;
    width: 50%;
    height: auto;
  }
  .space_title {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #f6c059;
    border-radius: 10px;
    width: 90%;
    height: 20vh;
  }
  .title {
    font-size: 120px;
    -webkit-text-stroke: 3px transparent;
  }
  .sub_title {
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 80px;
    /* identical to box height */
    color: #ffffff;
  }
  .space_image_sub_text {
    margin-top: 30px;
    margin-bottom: 40px;
    height: 4vh;
  }
  .image_sub_text {
    width: 100%;
    height: 100%;
  }
  .space_organization_header {
    height: 8vh;
    width: 70%;
  }
  .text_organization_header {
    font-weight: 900;
    font-size: 40px;
  }
  /* Containe_02 */
  .title_container_02 {
    font-size: 40px;
    line-height: 30px;
  }
  .decription_container_02 {
    margin-top: 40px;
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
  }
}

/* //Mobile */

@media (max-width: 739px) {
  .space_image_logo {
    margin-bottom: 20px;
    width: 60%;
    height: auto;
  }
  .space_title {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #f6c059;
    border-radius: 10px;
    width: 90%;
    height: 20vh;
  }
  .title {
    font-size: 50px;
    -webkit-text-stroke: 3px transparent;
  }
  .sub_title {
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 80px;
    /* identical to box height */
    color: #ffffff;
  }
  .space_image_sub_text {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 4vh;
  }
  .image_sub_text {
    width: 100%;
    height: 100%;
  }
  .space_organization_header {
    height: 6vh;
    width: 70%;
  }
  .text_organization_header {
    font-weight: 900;
    font-size: 20px;
  }
  /* Containe_02 */
  .title_container_02 {
    font-size: 22px;
    line-height: 30px;
  }
  .decription_container_02 {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
  }
}
